<html>
	<head>
		<title>StudiQuiz</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
	</head>
	<body>
		<h1>Studiquiz</h1>
			<nav>
				<ul>
					<li>Wählen sie aus was sie machen möchten</li>
					<li><a href="/newquestion">Eine neue Frage eintragen</a></li>
					<li><a href="/quiz">Ein Quiz starten</a></li>
					<li><a href="/statistics">Meine Statistiken ansehen</a></li>
				</ul>
			</nav>
		<script type="text/javascript">
		
		</script>
	</body>
</html>