
<html>
<head>
	<title>StudiQuiz</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Bootstrap -->
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<!--<script type="jquery.js"></script>-->
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-1"></div>
			<div class="col-md-4 col-xs-12" align="center">
			<a href="http://localhost:3001"><img src="../Bilder/logo2.png" class="img-responsive logo" alt="Placeholder image"></a>
		</div>
		<div class="col-md-4 col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-md-2 col-xs-12">
				<div class="menu" align="center">
		            <a href="http://localhost:3001/quiz" title="Quiz starten" class="quiz">Quiz</a>
		            <a href="http://localhost:3001/newquestion" title="Neue Frage erstellen" class="neuefrage">Neue Frage <br> erstellen</a>
		            <a href="http://localhost:3001/statistics" title="Statistiken anzeigen" class="statistik">Statistik</a>
	          	</div>
			</div>
		<div class="col-md-8 col-xs-12"><img src="../Bilder/Block-klein.png" class="img-responsive" alt="Placeholder image">
		<form id="newquestion" class="centertext quizfont3">	
		<h1>Neue Frage erstellen</h1>
        <label for="frage">Bitte geben Sie eine Frage ein:</label> <br>
        <input type="text" id="frage" maxlength="5000"><br>
 
        <label for="antwort1">Geben Sie die richtige Antwort ein:</label>  <br>
        <input type="text" id="antwort1" maxlength="5000"><br>
		
		<label for="antwort2">Geben Sie eine falsche Antwort ein:</label>  <br>
        <input type="text" id="antwort2" maxlength="5000"><br>
		
		<label for="antwort3">Geben Sie eine falsche Antwort ein:</label>  <br>
        <input type="text" id="antwort3" maxlength="5000"><br>
		
		<label for="antwort4">Geben Sie eine falsche Antwort ein:</label>  <br>
        <input type="text" id="antwort4" maxlength="5000"><br>

        <select id="fach">
    		<option>Fach ausw&aumlhlen</option>
    		<option>AP1</option>
    		<option>BS1</option>
        	<option>ST</option>
      	</select><br><br>
			
        <button type="reset">Eingaben zuruecksetzen</button><br><br>
        <button type="submit">Eingaben absenden</button>

        </form>			
	</div>
		</div>
			<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6"></div>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<script src="../js/jquery-1.11.2.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
						var frm = $('#newquestion');

						frm.submit(function (ev) {
						var question = $('#frage').val();
						var a = $('#antwort1').val();
						var b = $('#antwort2').val();
						var c = $('#antwort3').val();
						var d = $('#antwort4').val();
						var answer = "a";
						var fach = $('#fach option:selected').text();
						var data = { 
						question : question,
						a : a,
						b : b,
						c : c,
						d : d,
						"answer": answer,
						"fach": fach
						};
						alert('Ihre Anfrage wird verarbeitet');
							$.ajax({
								type: 'POST',
								url: '/question',
								data: JSON.stringify(data),
								contentType: 'application/json'
								}).done(function(){
								alert('Frage wurde hinzugefügt.');
								}).fail(function(e){
								alert('Frage konnte nicht hinzugefügt werden.');
							});
							ev.preventDefault();
						});
			
			});
		</script>
	<!-- Include all compiled plugins (below), or include individual files as needed --> 
	<script src="../js/bootstrap.js"></script>
</body>
</html>