<html>
	<head>
		<title>Quiz</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
<<<<<<< Updated upstream
		
=======
>>>>>>> Stashed changes
	</head>
	<body>
		<h1>Neue Frage erstellen</h1>
		<form id="newquestion">
        <label for="frage">Bitte geben Sie eine Frage ein:</label> <br>
        <input type="text" id="frage" maxlength="5000"><br>
 
        <label for="antwort1">Geben Sie die richtige Antwort ein:</label>  <br>
        <input type="text" id="antwort1" maxlength="5000"><br>
		
		<label for="antwort2">Geben Sie eine falsche Antwort ein:</label>  <br>
        <input type="text" id="antwort2" maxlength="5000"><br>
		
		<label for="antwort3">Geben Sie eine falsche Antwort ein:</label>  <br>
        <input type="text" id="antwort3" maxlength="5000"><br>
		
		<label for="antwort4">Geben Sie eine falsche Antwort ein:</label>  <br>
        <input type="text" id="antwort4" maxlength="5000"><br>
			
        <button type="reset">Eingaben zuruecksetzen</button>
        <button type="submit">Eingaben absenden</button>

        </form>
<<<<<<< Updated upstream
			<script type="text/javascript">
			$(document).ready(function(){
						var frm = $('#newquestion');
						frm.submit(function (ev) {
							alert('Ihre Anfrage wird verarbeitet');
							
							var question = ($('#frage').val());
							var a = ($('#antwort1').val());
							var b = ($('#antwort2').val());
							var c = ($('#antwort3').val());
							var d = ($('#antwort4').val());
							var answer = "a";
							var fach = "WBA";
							
							var data = { 
								"question" : question,
								"a" : a,
								"b" : b,
								"c" : c,
								"d" : d,
								"answer": answer,
								"fach": fach
							};
							
=======
	</body>
		<script type="text/javascript">
			$(document).ready(function(){
						var frm = $('#newquestion');
						var question = ($('#frage').val());
						var a = ($('#antwort1').val());
						var b = ($('#antwort2').val());
						var c = ($('#antwort3').val());
						var d = ($('#antwort4').val());
						var answer = "a";
						var fach = "WBA";
						var data = { 
						question : question,
						a : a,
						b : b,
						c : c,
						d : d,
						"answer": answer,
						"fach": fach
						};
						frm.submit(function (ev) {
						alert('Ihre Anfrage wird verarbeitet');
>>>>>>> Stashed changes
							$.ajax({
								type: 'POST',
								url: '/question',
								data: JSON.stringify(data),
								contentType: 'application/json'
								}).done(function(){
								alert('Frage wurde hinzugefügt.');
								}).fail(function(e){
								alert('Frage konnte nicht hinzugefügt werden.');
							});

							ev.preventDefault();
						});
				alert('Seite geladen');
			});
		</script>
<<<<<<< Updated upstream
	</body>
=======
>>>>>>> Stashed changes
</html>