<html>
	<head>
		<title>Quiz</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
	</head>
	<body>
		<h1>Neue Frage erstellen</h1>
		<form id="newquestion">
        <label for="frage">Bitte geben Sie eine Frage ein:</label> <br>
        <input type="text" id="frage" maxlength="5000"><br>
 
        <label for="antwort1">Geben Sie die richtige Antwort ein:</label>  <br>
        <input type="text" id="antwort1" maxlength="5000"><br>
		
		<label for="antwort2">Geben Sie eine falsche Antwort ein:</label>  <br>
        <input type="text" id="antwort2" maxlength="5000"><br>
		
		<label for="antwort3">Geben Sie eine falsche Antwort ein:</label>  <br>
        <input type="text" id="antwort3" maxlength="5000"><br>
		
		<label for="antwort4">Geben Sie eine falsche Antwort ein:</label>  <br>
        <input type="text" id="antwort4" maxlength="5000"><br>

        <select id="fach">
    		<option>Fach auswählen</option>
    		<option>AP1</option>
    		<option>BS1</option>
        	<option>ST</option>
      	</select><br>
			
        <button type="reset">Eingaben zuruecksetzen</button>
        <button type="submit">Eingaben absenden</button>

        </form>			
	</body>
		<script type="text/javascript">
			$(document).ready(function(){
						var frm = $('#newquestion');

						frm.submit(function (ev) {
						var question = $('#frage').val();
						var a = $('#antwort1').val();
						var b = $('#antwort2').val();
						var c = $('#antwort3').val();
						var d = $('#antwort4').val();
						var answer = "a";
						var fach = $('#fach option:selected').text();
						var data = { 
						question : question,
						a : a,
						b : b,
						c : c,
						d : d,
						"answer": answer,
						"fach": fach
						};
						alert('Ihre Anfrage wird verarbeitet');
							$.ajax({
								type: 'POST',
								url: 'http://localhost:3000/question',
								data: JSON.stringify(data),
								contentType: 'application/json'
								}).done(function(){
								alert('Frage wurde hinzugefügt.');
								}).fail(function(e){
								alert('Frage konnte nicht hinzugefügt werden.');
							});
							ev.preventDefault();
						});
				alert('Seite geladen');
			});
		</script>
	</body>
</html>