<html>
	<head>
		<title>Quiz</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<!--<script type="jquery.js"></script>-->
	</head>
	<body>
		<h1>Quiz</h1>
			<div> Bitte wählen Sie, dass Fach aus, zu dem Sie ein Quiz starten möchten: </div>
					
		    <a href="http://localhost:3001/quiz/AP1" >AP1 </a>
			<a href="http://localhost:3001/quiz/BS1" >BS1 </a>
			<a href="http://localhost:3001/quiz/WBA" >WBA </a>
			

		<script type="text/javascript">
		
		</script>
	</body>
</html>