
<html>
  <head>
    <title>StudiQuiz</title>
    <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap -->
	  <link href="css/bootstrap.css" rel="stylesheet">
	  <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-1"></div>
        <div class="col-md-4 col-xs-12" align="center"><img src="Bilder/logo2.png" class="img-responsive logo" alt="Placeholder image"></div>
        <div class="col-md-4 col-xs-1"></div>
      </div>
      <div class="row">
        <div class="col-md-2 col-xs-12">
          <div class="menu" align="center">
            <a href="http://localhost:3001/quiz" title="Quiz starten" class="quiz">Quiz</a>
            <a href="http://localhost:3001/newquestion" title="Neue Frage erstellen" class="neuefrage">Neue Frage <br> erstellen</a>
            <a href="http://localhost:3001/statistics" title="Statistiken anzeigen" class="statistik">Statistik</a>
          </div>
        </div>
          <div class="col-md-8 col-xs-12"><img src="Bilder/Block-klein.png" class="img-responsive" alt="Placeholder image">
          	<div class="centertext quizfont3">
	          	<h1>Quiz</h1>
				<p> Bitte wählen Sie, dass Fach aus, zu dem Sie ein Quiz starten möchten:</p>		
			    <a class="fachfont" href="http://localhost:3001/quiz/AP1" >AP1 </a>
				<br>
				<a class="fachfont" href="http://localhost:3001/quiz/BS1" >BS1 </a>
				<br>
				<a class="fachfont" href="http://localhost:3001/quiz/WBA" >WBA </a>
			</div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6"></div>
      </div>
    </div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<script src="js/jquery-1.11.2.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed --> 
	<script src="js/bootstrap.js"></script>
  </body>
</html>