
<html>
<head>
	<title>StudiQuiz - Registrieren</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Bootstrap -->
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<!--<script type="jquery.js"></script>-->
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-1"></div>
			<div class="col-md-4 col-xs-12" align="center">
			<a href="http://localhost:3001"><img src="../Bilder/logo2.png" class="img-responsive logo" alt="Placeholder image"></a>
		</div>
		<div class="col-md-4 col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-md-2 col-xs-12">
				<div class="menu" align="center">
		            <a href="http://localhost:3001/quiz" title="Quiz starten" class="quiz">Quiz</a>
		            <a href="http://localhost:3001/newquestion" title="Neue Frage erstellen" class="neuefrage">Neue Frage <br> erstellen</a>
		            <a href="http://localhost:3001/statistic" title="Statistiken anzeigen" class="statistik">Statistik</a>
	          	</div>
			</div>
		<div class="col-md-8 col-xs-12"><img src="../Bilder/Block-klein.png" class="img-responsive" alt="Placeholder image">
		<form id="regi" class="centertext quizfont3">	
			<h1>Registrieren</h1>
			<label for="frage">Geben Sie ihren Usernamen ein:</label> <br>
			<input type="text" id="username" maxlength="5000" class="arial" ><br>
	 
			<label for="antwort1">Geben Sie ihr Passwort ein:</label>  <br>
			<input type="password" id="pw" maxlength="5000"><br>
			
				
			<button type="reset">Eingaben zuruecksetzen</button><br><br>
			<button type="submit">Registrieren</button>

        </form>			
	</div>
		</div>
			<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6"></div>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<script src="../js/jquery-1.11.2.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
						var frm = $('#regi');

						frm.submit(function (ev) {
						var usrn = $('#username').val();
						var pw = $('#pw').val();
						
						var data = { 
						username: usrn,
						password: pw
						};
						
						alert('Ihre Anfrage wird verarbeitet');
							$.ajax({
								type: 'POST',
								url: '/user',
								data: JSON.stringify(data),
								contentType: 'application/json'
								}).done(function(){
								alert('User wurde hinzugefügt.');
								}).fail(function(e){
								alert('User konnte nicht hinzugefügt werden.');
							});
							ev.preventDefault();
						});
			
			});
		</script>
	<!-- Include all compiled plugins (below), or include individual files as needed --> 
	<script src="../js/bootstrap.js"></script>
</body>
</html>