<html>
	<head>
		<title>StudiQuiz</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
	</head>
	<body>
		<h1>StudiQuiz Startseite</h1>
			
					
		    <a href="http://localhost:3001/quiz/" >Quiz </a>
			<br>
			<a href="http://localhost:3001/newquestion/" >Neue Frage reinstellen</a>
			<br>
			<a href="http://localhost:3001/statistics" >Statistik </a>
			

		<script type="text/javascript">
		
		</script>
	</body>
</html>