<html>
  <head>
    <title>StudiQuiz - Statistiken</title>
    <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
	  <link href="css/bootstrap.css" rel="stylesheet">
	  <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-1"></div>
        <div class="col-md-4 col-xs-12" align="center"><a href="http://localhost:3001/"><img src="Bilder/logo2.png" class="img-responsive logo" alt="Placeholder image"></a></div>
        <div class="col-md-4 col-xs-1"></div>
      </div>
      <div class="row">
        <div class="col-md-2 col-xs-12">
          <div class="menu" align="center">
            <a href="http://localhost:3001/quiz" title="Quiz starten" class="quiz">Quiz</a>
            <a href="http://localhost:3001/newquestion" title="Neue Frage erstellen" class="neuefrage">Neue Frage <br> erstellen</a>
            <a href="http://localhost:3001/statistics" title="Statistiken anzeigen" class="statistik">Statistik</a>
          </div>
        </div>
          <div class="col-md-8 col-xs-12"><img src="Bilder/Block-klein.png" class="img-responsive" alt="Placeholder image">
            <div class="statwrapper centertext">
              <div class="bar" id="one"><p class="barstat">Richtige Fragen: <%= stat[0].right %></p></div>
              <div class="bar" id="two"><p class="barstat">Falsche Fragen: <%= stat[1].wrong %></p></div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6"></div>
      </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
      setTimeout(function(){
        var right = <%= stat[0].right %>
        var wrong = <%= stat[1].wrong %>

        var rightpx = (400 / ( (100 / ( right + wrong ) ) * right + (100 / ( right + wrong ) ) * wrong ) ) * (100 / ( right + wrong ) ) * right;
        var wrongpx = (400 / ( (100 / ( right + wrong ) ) * right + (100 / ( right + wrong ) ) * wrong ) ) * (100 / ( right + wrong ) ) * wrong;

        $("#one").css("height", rightpx + "px");
        $("#two").css("height", wrongpx + "px");
      },1000);
    });
    </script>
	<!-- Include all compiled plugins (below), or include individual files as needed --> 
	<script src="js/bootstrap.js"></script>
  </body>
</html>