@font-face {
    font-family: "Comic Zine OT";
    src: url(../fonts/comic_zine_ot.otf);
}

.btn {
	font-family: "Comic Zine OT";
	font-size: 450%;
}

body {
	background-image: url(../Bilder/wood-wallpaper-8.jpg);
}

.quiz {
	font-family: "Comic Zine OT";
	font-size: 450%;
	color: #FFFFFF;
}

.neuefrage {
	font-family: "Comic Zine OT";
	font-size: 250%;
	word-spacing: normal;
	white-space: nowrap;
	color: #FFFFFF;
}

.statistik {
	font-family: "Comic Zine OT";
	color: #FFFFFF;
	font-size: 320%;
}

.statistik:hover {
	text-decoration: none;
	color: yellow;
}

.logo {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.quiz:hover {
	color: yellow;
	text-decoration: none;
}

.neuefrage:hover {
	text-decoration: none;
	color: yellow;
}

.logo {
}

.centertext {
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-o-transform: translate(-50%);
	-ms-transform: translate(-50%);
}

.img-responsive {
	position: relative;
} 
